.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Roboto;
}

.links {
  text-decoration: none;
  color: white;
}

.linksCategories {
  text-decoration: none;
  color: white;
}

.navbarColor {
  background-color: rgba(0, 0, 0, 0.75);
}

.productCard {
  transition: 0.25s ease-in-out;
}

.productCard:hover {
  box-shadow: 0 0 2rem rgba(128, 128, 128, 0.699);
  transform: translateY(-0.5rem);
}
